.footer{
    background: #111;
    color: #999;
    padding-top: 25px;
    font-size: 13px;
}
.footer h3{
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 20px;
}
.footer ul{
    list-style-position: inside;
    padding-left: 0;
}
.footer ul li{
    padding-bottom: 10px;
}
.footer a{
    text-decoration: none;
    color: #999;
    transition: all 0.3s;
}
.footer a:hover{
    color: #008DD2;
}
.footer a:focus,.footer a:active{
    color: #ffb606;
    text-decoration: underline;
}
.footerborderdiv1{
    border-bottom: 1px dotted #9999993f;
}
.footerRow{
    border-bottom: 1px solid #9999993f;
}